# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# C::B
*.depend
*.layout
ChangeLog.txt
archive.bat
copysitgl.bat
dump.png

Interface/
obj/
objs/
World1_12/
TestMesh/
old/
TileFinder/