# Object files
*.o
*.obj

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# C::B
*.depend
*.layout
archive.bat
copysitgl.bat
dump.png
SLOC.ini

/Interface/
/obj/
/objs/
/World*/
/TestMesh*/
/Piston*/
/old/
/resources/lang/old/
