# Shared objects
*.dll

# Executables
*.exe

# C::B
*.depend
*.layout
archive.bat
copysitgl.bat
dump.png
SLOC.ini

/Interface/
/obj/
/objs/
/World*/
/TestMesh*/
/Piston*/
/old/
/resources/lang/old/
/debug/
